<mat-spinner *ngIf="loading"></mat-spinner>

<ng-container *ngIf="!loading">
  <div fxLayout="column">
    <div *ngFor="let rider of queue">
      <button class="global__action" mat-stroked-button (click)="select(rider)" fxFlex="100">{{rider.category}}
        {{rider.riderNumber}}. {{rider.riderName}}</button>
    </div>
  </div>
</ng-container>

<div>
  <button class="global__action" mat-stroked-button (click)="cancel()" fxFlex="100">
    <span *ngIf="queue.length === 0 && !loading">
      Jono on tyhjä
    </span>
    <span *ngIf="queue.length !== 0 || loading">
      Peruuta
    </span>
  </button>
</div>