<div class="container">
  <mat-card>
    <h1>Ota boosterit käyttöön</h1>
    <form [formGroup]="loginForm" action="" autocomplete="off" novalidate (ngSubmit)="testCode()">

      <mat-form-field>
        <input matInput placeholder="Boosterikoodi" formControlName="code">
      </mat-form-field>
      <br><br>
      <button mat-stroked-button [disabled]="loginForm.invalid">Tarkista koodi</button>

    </form>
  </mat-card>
</div>