<div class="container">
  <mat-card>
    <h1>Tyhjennä cacheja</h1>
    <mat-spinner *ngIf="disabled"></mat-spinner>
    <div *ngIf="!disabled" fxLayout="row">
      <button class="global__action" fxFlex="100" mat-stroked-button (click)="clearAll()">
        Tyhjennä kaikki
      </button>

      <button class="global__action" fxFlex="100" mat-stroked-button (click)="clearIndex()">
        Tyhjennä indeksi
      </button>

      <button class="global__action" fxFlex="100" mat-stroked-button (click)="clearRaces()">
        Tyhjennä kilpailut
      </button>

    </div>
  </mat-card>
</div>