<div fxLayout="row">
  <div class="global__center" fxFlex="50">
    Mennyt: <b class="time">{{display.gone}}</b>
  </div>
  <div class="global__center" fxFlex="50">
    Jäljellä: <b class="time">{{display.left}}</b>
  </div>
</div>
<div fxLayout="row">
  <button class="global__action" mat-stroked-button *ngIf="!on" (click)="start()" fxFlex="100">Start</button>
  <button class="global__action" mat-stroked-button *ngIf="on" (click)="stop()" fxFlex="100">Stop</button>
  <button class="global__action" mat-stroked-button *ngIf="!on && display.gone != '0.00'" (click)="reset()" fxFlex="100">Nollaa</button>
</div>