<div class="container">
  <mat-card>
    <h1>Kilpailut</h1>
    <mat-spinner *ngIf="!races"></mat-spinner>
    <ul *ngIf="races">
      <li *ngFor="let i of races">
        {{i.date}}
        <button mat-button color="primary" [routerLink]="'/race/' + i.id + '/results'">
          {{i.name}}
        </button>
        <div fxLayout="row">
          <button mat-stroked-button class="global__action" [routerLink]="'/race/' + i.id + '/queuing'"
            *ngIf="i.queuing">
            Jonotus
          </button>
          <button mat-stroked-button class="global__action" [routerLink]="'/race/' + i.id + '/refereeing'"
            *ngIf="i.refereeing">
            Tuomarointi
          </button>
          <button mat-stroked-button class="global__action" [routerLink]="'/race/' + i.id + '/section-cards'"
            *ngIf="i.refereeing">
            Jaksokortit
          </button>
          <button mat-stroked-button class="global__action" (click)="resetCache(i.id)" *ngIf="showBoosters">
            Resetoi cache
          </button>
          <button mat-stroked-button class="global__action" (click)="saveSelectedRiderData(i.id)" *ngIf="showBoosters">
            Tallenna jono
          </button>
          <button mat-stroked-button class="global__action" (click)="downsyncSelectedRiderData(i.id)"
            *ngIf="showBoosters">
            Synkronoi vapautetut
          </button>
        </div>
        <!--
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="showBoosters || showMenu(i)">
          Toiminnot
        </button>
        <mat-menu #menu>
          <button mat-menu-item [routerLink]="'/race/' + i.id + '/queuing'" *ngIf="i.queuing">
            Jonotus
          </button>
          <button mat-menu-item [routerLink]="'/race/' + i.id + '/refereeing'" *ngIf="i.refereeing">
            Tuomarointi
          </button>
          <button mat-menu-item [routerLink]="'/race/' + i.id + '/section-cards'" *ngIf="i.sectionCards">
            Jaksokortit
          </button>
          <button mat-menu-item (click)="resetCache(i.id)" *ngIf="showBoosters">
            Resetoi cache
          </button>
        </mat-menu>
        -->
      </li>
    </ul>
  </mat-card>
</div>