/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

$c-primary: mat-palette($mat-green, 800);
$c-accent: mat-palette($mat-amber, 500);
$c-warn: mat-palette($mat-red, 200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$c-theme: mat-light-theme($c-primary, $c-accent, $c-warn);

@include angular-material-theme($c-theme);

body {
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 7px;
  margin: 0px;
  border-radius: 5px;
  // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.57);
}

.global__ {
  &container {
    //background-color: rgba(255,255,255,50);
    @media (min-width: 728px) {
      margin: 10px;
      padding: 10px;
      //border-radius: 5px;
      //border: 1px solid mat-color($c-primary, 100);
    }

    @media (max-width: 727px) {
      margin: 0px;
      padding: 2px;
      // margin: -5px -2px -2px 0px;
      // padding: 5px 2px 2x 0px;
    }
  }

  &center {
    text-align: center;
  }

  &flex-spacer {
    flex: 1 1 auto;
  }

  &loading {
    margin: 10px;
  }

  &mat-form-field {
    width: 400px;
    max-width: 100%;
    margin-bottom: 5px;
    display: block !important;
  }
  &action {
    margin: 5px !important;
    padding: 0 5px !important;
  }
  &action-top-bottom {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 0 5px !important;
  }
  &width--100p {
    width: 100%;
  }
}

.mat-stroked-button {
  min-width: 10px !important;
}
