<div class="global__center">
  Virhepisteet
</div>
<div fxLayout="row">
  <button *ngFor="let p of possiblePoints" 
    class="global__action"
    mat-stroked-button [class.selected]="p == points" (click)="setPoints(p)"
    fxFlex="16.6">{{p}}</button>
</div>
