<span>
  <b>{{rider.position}}.</b>
  {{rider.name}}
  <b>{{rider.points}}</b>
</span>
<span *ngIf="!hideSectionResults">
  <span *ngFor="let lap of objectKeys(rider.sectionResults)">
    <br>
    Kierros {{lap}}:
    <span class="result"
      *ngFor="let section of category.sections">{{getSectionResult(section, rider.sectionResults[lap])}}</span>
  </span>
</span>