<mat-spinner *ngIf="loading"></mat-spinner>

<ng-container *ngIf="!loading && lap === 0">
  Kilpailusi on käyty.
  Sinulla on jo tulos jokaiselta jaksolta.
</ng-container>

<ng-container *ngIf="!loading && lap !== 0">
  <div fxLayout="column">
    <button mat-stroked-button (click)="reload()" fxsFlex="100" class="global__action">Päivitä</button>
  </div>
  <div class="global__action">
    <div *ngIf="availableSections.length > 0">
      Olet kierroksella <b>{{lap}}</b>.
    </div>
    <div *ngIf="queueResult.queueInSection !== 0">
      Olet jonossa jaksolla <b>{{queueResult.queueInSection}}</b>.
      Sinua ennen jonossa on vielä <b>{{queueResult.aheadInQueue}}</b>.
    </div>
    <div *ngIf="availableSections.length === 0">
      Tämä on kierroksesi viimeinen jakso.
    </div>
    <div *ngIf="availableSections.length > 0 && queueResult.queueInSection === 0">
      Valitse alta jakso jolle siirryt jonoon.
    </div>
    <div *ngIf="availableSections.length > 0 && queueResult.queueInSection !== 0">
      Jos haluat vaihtaa jaksoa, jolle olet jonossa, valitse uusi jakso alta.
    </div>

  </div>
  <div *ngFor="let s of availableSections" fxLayout="column">
    <button mat-stroked-button (click)="selectSection(s.section)" fxsFlex="100" class="global__action">Jakso
      {{s.section}}, jonon pituus {{s.queue}}</button>
  </div>
  <div *ngIf="availableSections.length > 0 && queueResult.queueInSection !== 0" fxLayout="column">
    <div class="global__action">
      Jos haluat poistua jonosta menemättä toiselle jaksolle jonoon paina alta.
    </div>
    <button mat-stroked-button (click)="leaveQueue()" fxFlex="100" class="global__action">Poistu jonosta</button>
  </div>
  <h2>Tuloksesi</h2>
  <app-rider-results [rider]="result" [category]="category"></app-rider-results>

  <div fxLayout="column">
    <button mat-stroked-button [routerLink]="'/race/' + raceId + '/results'" fxFlex="100" class="global__action">Kaikki
      tulokset</button>
  </div>
</ng-container>