<ul>
  <li *ngFor="let i of queue">
    Kategoria: {{i.category}}
    <br>
    Kuski: {{i.riderNumber}} {{i.riderName}}
    <br>
    Kierros: {{i.lap}}
    <br>
    Jakso: {{i.section}}
    <br>
    <span *ngIf="i.removePoints">
      Poista pisteet
    </span>
    <span *ngIf="!i.removePoints">
      Aseta pisteiksi {{i.points}}
    </span>
    <span *ngIf="i.sectionTime">
      <br>
      Aseta jaksoaika {{i.sectionTime}}
    </span>

  </li>
</ul>

<div>
  <button class="global__action" mat-stroked-button (click)="close()" fxFlex="100">
    Sulje
  </button>
</div>