<div class="global__center">
  Läpäistyt portit, pisteet: {{points}}
</div>
<div fxLayout="row">
  <button *ngFor="let gate of gates" class="global__action" mat-stroked-button [class.selected]="gate.passed"
    (click)="toggle(gate)" fxFlex="16.6">{{gate.number}}</button>
</div>