<div *ngIf="showNavigation">
  <mat-toolbar color="primary" class="mat-elevation-z5">

    <span>Trial-pyöräilyä Suomessa</span>

    <span class="global__flex-spacer"></span>

    <nav fxHide fxShow.lt-sm="true">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
      </button>

      <mat-menu #menu>
        <button mat-menu-item *ngFor="let i of links" (click)="goto(i.link)">
          <mat-icon class="icon" fontSet="fa" fontIcon="{{i.icon}}"></mat-icon>
          <span class="text">{{i.label}}</span>
        </button>
      </mat-menu>
    </nav>

  </mat-toolbar>

  <mat-tab-group [selectedIndex]="activeTab" (selectedIndexChange)="tabChanged($event)" class="tab-nav" fxHide
    (click)="clickTabGroup()" fxShow.gt-xs>
    <mat-tab *ngFor="let i of links; let i = index">
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="fa" fontIcon="{{i.icon}}"></mat-icon>
        {{i.label}}
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>