<div class="container">
  <mat-card>
    <h1>Kilpailutulokset</h1>
    <mat-spinner *ngIf="!raceService.loaded"></mat-spinner>
    <div *ngIf="raceService.loaded">
      <div fxLayout="row">
        <button mat-stroked-button (click)="refresh()" fxFlex="50" class="global__action">
          Päivitä
        </button>
        <button mat-stroked-button (click)="toggleSectionResults()" fxFlex="50" class="global__action"
          [ngClass]="hideSectionResults ? 'off' : 'on'">
          Jaksotulokset
        </button>
      </div>
      <app-race-details-displayer [definition]="raceService.definition">
      </app-race-details-displayer>
      <div *ngFor="let cat of raceService.categories">
        <h2>{{cat.name}}</h2>
        <div *ngFor="let rider of raceService.getSolvedResultsOf(cat.name)">
          <app-rider-results [category]="cat" [hideSectionResults]="hideSectionResults" [rider]="rider">
          </app-rider-results>
        </div>
      </div>

    </div>
  </mat-card>
</div>