<div class="container">
  <mat-card fxLayout="column">
    <h1>Jonotus</h1>
    <mat-spinner *ngIf="loading"></mat-spinner>

    <ng-container *ngIf="!loading && selectedRider">
      <div fxLayout="column">
        <button mat-stroked-button (click)="unselectRider()" fxFlex="100" class="global__action">
          {{selectedRider.riderName}}</button>
      </div>
      <app-queuing-selected-rider [rider]="selectedRider">
      </app-queuing-selected-rider>
    </ng-container>

    <ng-container *ngIf="!loading && !selectedRider">
      <ng-container *ngIf="myRiders.length > 0">
        <h2>Omat kuskit</h2>
        <div fxFlex="row">
          <div *ngFor="let rider of myRiders" fxLayout="row">
            <button mat-stroked-button (click)="selectMyRider(rider)" fxFlex="70" class="global__action">
              {{rider.riderName}}</button>
            <button mat-stroked-button (click)="releaseMyRider(rider)" fxFlex="30"
              class="global__action">Vapauta</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showRiderList">
        <h2>Valitse oma kuskisi</h2>
        <div *ngFor="let rider of riders" fxLayout="column">
          <button mat-stroked-button (click)="selectRider(rider)" fxsFlex="100" class="global__action"
            [style.background-color]="rider.color | color">{{rider.number}}. {{rider.name}}</button>
        </div>
      </ng-container>
    </ng-container>

  </mat-card>
</div>