div.outer {
  padding: 10px;  
  height: 40px;  
  overflow: hidden;
  margin: 0px;
  display: block;
}

div.inner {
  padding: 0px;
  text-align: center;
  display: block;
}

.spacer {
  display: inline-block;
  width: 20px;
}

iframe {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}