<div class="inner">
  <div *ngIf="!isReady" class="outer">
    Luodaan kortteja, odota hetki...
  </div>
  <div *ngIf="isReady" class="outer">
    <button mat-stroked-button color="primary" [routerLink]="'/race/index'">
      Palaa
    </button>
    <span class="spacer"></span>
    <button mat-stroked-button color="primary" (click)="reset()">
      Päivitä
    </button>
    <span class="spacer"></span>
    <button mat-stroked-button color="primary" (click)="changeColorToggle()">
      Luokkavärit
    </button>    
  </div>
</div>

<iframe class="iframe" #iframe type="application/pdf" style="width: 100%; visibility: hidden;"></iframe>