<div class="container">
  <mat-card *ngIf="selectedSection">
    <div fxLayout="row">
      <button fxFlex="100" mat-stroked-button (click)="resetSection()" class="global__action">Jakso
        {{selectedSection}}</button>
      <button fxFlex="100" mat-stroked-button (click)="selectFromQueue()" class="global__action">Jono</button>
      <button fxFlex="100" *ngIf="this.isSaving" disabled mat-stroked-button class="global__action">
        <div #animatesaving></div>
      </button>
      <button fxFlex="100" *ngIf="refereeingService.unsavedPoints.length > 0 && !this.isSaving" mat-stroked-button
        (click)="showDelayedQueue()" class="global__action">
        <div #tosave></div>
      </button>
    </div>

    <div class="class-selector" fxLayout="row" fxLayout.lt-md="column">
      <div *ngFor="let cat of categories">
        <button mat-stroked-button (click)="selectCategory(cat)" *ngIf="!selectedCategory || cat === selectedCategory"
          fxFlex="100" class="global__action" [style.background-color]="cat.color | color">{{cat.name}}</button>
      </div>
    </div>

    <div class="class-selector" fxLayout="row" fxLayout.lt-md="column" *ngIf="selectedCategory">
      <div *ngFor="let rider of riders">
        <button mat-stroked-button (click)="selectRider(rider)" class="global__action" fxFlex="100"
          *ngIf="!selectedRider || rider === selectedRider">{{rider.number}}.
          {{raceService.getRiderName(rider)}}</button>
      </div>
    </div>
    <div *ngIf="selectedRider">
      <div class="global__center">
        Kierros
      </div>
      <div fxLayout="row">
        <button *ngFor="let l of laps" class="global__action" mat-stroked-button [class.selected]="l == selectedLap"
          (click)="selectLap(l)" fxFlex="100">{{l}}</button>
      </div>
      <app-points-penalties [points]="ridersPointsForOngoingSection" (onEvent)="onPointEvent($event)">
      </app-points-penalties>
      <div *ngIf="selectedCategory.pointSystem == 'POINTS'">
        <app-points-gates [points]="ridersGatePointsForOngoingSection" (onEvent)="onPointEvent($event)"
          [resetGates]="resetGates">
        </app-points-gates>
      </div>
      <app-stopwatch #stopwatch (onEvent)="onStopwatchEvent($event)">
      </app-stopwatch>
      <div fxLayout="row" *ngIf="clockReseted">
        <button class="global__action" mat-stroked-button (click)="clearPoints()" fxFlex="100">Poista pisteet</button>
      </div>
    </div>


  </mat-card>


  <mat-card *ngIf="!selectedSection">
    <h1>Tuomarointi</h1>

    <app-race-details-displayer [definition]="definition">
    </app-race-details-displayer>

    <div *ngIf="!loading">


      <form [formGroup]="registerForm" action="" autocomplete="off" novalidate (ngSubmit)="testCode()">

        <mat-form-field>
          <input matInput placeholder="Jaksokoodi" formControlName="code">
        </mat-form-field>
        <br><br>
        <button mat-stroked-button [disabled]="registerForm.invalid">Siirry jaksolle</button>

      </form>

      <div *ngIf="earlierSections.length > 0">
        <h2>Valitse edellisistä</h2>
        <div fxLayout="column">
          <button *ngFor="let s of earlierSections" mat-stroked-button class="global__action-top-bottom"
            (click)="selectEarlierSection(s)" fxFlex="100">Jakso {{s.section}}</button>
        </div>
      </div>

    </div>


    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-card>
</div>